<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
//	___FILENAME___
//	Regicide Mobile
//
//	Created: ___DATE___
//	Updated: ___DATE___
//
//	© ___YEAR___ Zachary Berry, All Rights Reserved
//</string>
</dict>
</plist>
